# Configuration for programfan.github.io
#

# Extra GEMs config
gems:
  - jekyll-asciidoc
  - jekyll-paginate

# Markdown engine config
# math_engin set to null to let katex parse math
markdown: kramdown
markdown_ext: md, markdown, mkd
kramdown:
  input: GFM
  hard_wrap: false
  math_engine: null

# Asciidoc engine config
asciidoc:
  processor: asciidoctor
  ext: adoc, asciidoc
asciidoctor:
  attributes:
    - hardbreaks!
    - stylesheet!
    - icons=font
    - source-highlighter=pygments
    - pygment-css=class
    - page-liquid

# Jekyll generator config
permalink: /contents/:year/:month/:day/:title/
excerpt_separator: "<!-- more -->"
paginate: 2
paginate_path: "/blog/page:num/"

# Extra site global variable used by templates
site_title: "ProgramFan's Writing Space"
site_url: "http://programfan.github.io"
repository: https://github.com/ProgramFan
google_analytics_id: UA-62602586-1 
disqus_id: progfan-write-space

