markdown: kramdown
highlighter: pygments
permalink: /post/:year/:month/:day/:title/
excerpt_separator: "<!-- more -->"

repository: https://github.com/ProgramFan

collections:
  docs:
    output: true

# jekyll-asciidoc configurations
gems:
  - jekyll-asciidoc
asciidoctor:
  attributes:
    - hardbreaks!
    - source-highlighter=pygments
    - pygments-css=pygments
    - icons=font
asciidoc: asciidoctor
asciidoc_ext: adoc, asciidoc

# Paginate
paginate: 2
paginate_path: "/posts/page:num/"

