// Asciidoctor css fix

// FontAwesome alias for asciidoctor admonition block
span.icon>.fa {
  cursor:default
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size:2.5em;
  text-shadow:1px 1px 2px rgba(0,0,0,.5);
  cursor:default;
}
.admonitionblock td.icon .icon-note:before {
  content:"\f05a";
  font-weight: 700;
  color:#fc0;
}
.admonitionblock td.icon .icon-tip:before {
  content:"\f0eb";
  text-shadow:1px 1px 2px rgba(155,155,0,.8);
  font-weight: 700;
  color:#fff;
}
.admonitionblock td.icon .icon-warning:before {
  content:"\f071";
  font-weight: 700;
  color:#fc0;
}
.admonitionblock td.icon .icon-caution:before{
  content:"\f06d";
  font-weight: 700;
  color:#fc0;
}
.admonitionblock td.icon .icon-important:before{
  content:"\f06a";
  font-weight: 700;
  color:#2b2a12;
}

.admonitionblock table {
  @include border-radius(5px 5px 5px 5px);
  position: relative;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3));
}

.admonitionblock.note table {
  background-color: #7e6d42;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5c4e35));
  background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: -moz-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: -o-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: linear-gradient(to bottom, #7e6d42 0%,#5c4e35 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35',GradientType=0 );
}

.admonitionblock.tip table {
  background-color: #0389aa;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f));
  background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: linear-gradient(to bottom, #0389aa 0%,#00617f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f',GradientType=0 );
}

.admonitionblock.important table {
  background-color: #cd9239;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkOTIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMjc1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(205,146,57,1)), to(rgba(162,117,40,1)));
  background-image: -webkit-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -o-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: linear-gradient(to bottom, rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 );
}

.admonitionblock.caution table {
  background-color: #cd9239;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkOTIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMjc1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(205,146,57,1)), to(rgba(162,117,40,1)));
  background-image: -webkit-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -o-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: linear-gradient(to bottom, rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 );
}

.admonitionblock.warning table {
  background-color: #9e2812;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
  background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: linear-gradient(to bottom, #9e2812 0%,#6f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
}

.admonitionblock td.content {
  * {
    text-align: left;
  }

  h5, p {
    margin: 0;
    color: #fff;
  }

  h4 {
    line-height: 1.5em;
    font-weight: 900;
    font-style: normal;
  }

  h5 {
    line-height: 1.5em;
    font-weight: 900;
    font-style: normal;
  }
}

// Code explanation mark
.conum[data-value] {
  display:inline-block;
  color:#fff!important;
  background-color:rgba(0,0,0,.8);
  -webkit-border-radius:100px;
  border-radius:100px;
  text-align:center;
  font-size:.75em;
  width:1.67em;
  height:1.67em;
  line-height:1.67em;
  font-family:"Open Sans","DejaVu Sans",sans-serif;
  font-style:normal;
  font-weight:bold
}
.conum[data-value] * {
  color:#fff!important
}
.conum[data-value]+b {
  display:none
}
.conum[data-value]:after {
  content:attr(data-value)
}
pre .conum[data-value] {
  position:relative;
  top:-.125em
}
b.conum * {
  color:inherit!important
}
.conum:not([data-value]):empty {
  display:none
}

// Syntax highlight for pygment style
.highlight {
  * { color: #ffffff }
  .hll { background-color: #ffffcc }
  .tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .tok-c { color: #87ceeb } /* Comment */
  .tok-cm { color: #87ceeb } /* Comment.Multiline */
  .tok-c1 { color: #87ceeb } /* Comment.Single */
  .tok-cs { color: #87ceeb } /* Comment.Special */
  .tok-cp { color: #cd5c5c } /* Comment.Preproc */
  .tok-err { color: #960050; background-color: #1e0010 } /* Error */
  .tok-gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
  .tok-gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
  .tok-gh { color: #cd5c5c} /* Generic.Heading */
  .tok-gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
  .tok-gp { color: #ffffff} /* Generic.Prompt */
  .tok-gu { color: #cd5c5c} /* Generic.Subheading */
  .tok-gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
  .tok-g { color: #ffffff} /* Generic */
  .tok-ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
  .tok-gs { color: #ffffff; font-weight: bold } /* Generic.Strong */
  .tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */
  .tok-k { color: #f0e68c} /* Keyword */
  .tok-kc { color: #f0368c } /* Keyword.Constant */
  .tok-kd { color: #f0e68c } /* Keyword.Declaration */
  .tok-kn { color: #f0e68c } /* Keyword.Namespace */
  .tok-kp { color: #f0e68c } /* Keyword.Pseudo */
  .tok-kr { color: #f0e68c } /* Keyword.Reserved */
  .tok-kt { color: #bdb76b } /* Keyword.Type */
  .tok-l { color: #ae81ff } /* Literal */
  .tok-ld { color: #e6db74 } /* Literal.Date */
  .tok-m { color: #ae81ff } /* Literal.Number */
  .tok-mf { color: #ae81ff } /* Literal.Number.Float */
  .tok-mh { color: #ae81ff } /* Literal.Number.Hex */
  .tok-mi { color: #ae81ff } /* Literal.Number.Integer */
  .tok-mo { color: #ae81ff } /* Literal.Number.Oct */
  .tok-n { color: #f8f8f2 } /* Name */
  .tok-na { color: #a6e22e } /* Name.Attribute */
  .tok-nb { color: #f8f8f2 } /* Name.Builtin */
  .tok-nc { color: #a6e22e } /* Name.Class */
  .tok-nd { color: #a6e22e } /* Name.Decorator */
  .tok-ne { color: #a6e22e } /* Name.Exception */
  .tok-nf { color: #a6e22e } /* Name.Function */
  .tok-ni { color: #f8f8f2 } /* Name.Entity */
  .tok-nl { color: #f8f8f2 } /* Name.Label */
  .tok-nn { color: #f8f8f2 } /* Name.Namespace */
  .tok-no { color: #66d9ef } /* Name.Constant */
  .tok-nt { color: #f92672 } /* Name.Tag */
  .tok-nv { color: #f8f8f2 } /* Name.Variable */
  .tok-nx { color: #a6e22e } /* Name.Other */
  .tok-o { color: #f92672 } /* Operator */
  .tok-ow { color: #f92672 } /* Operator.Word */
  .tok-p { color: #f8f8f2 } /* Punctuation */
  .tok-py { color: #f8f8f2 } /* Name.Property */
  .tok-s { color: #e6db74 } /* Literal.String */
  .tok-s1 { color: #e6db74 } /* Literal.String.Single */
  .tok-s2 { color: #e6db74 } /* Literal.String.Double */
  .tok-sb { color: #e6db74 } /* Literal.String.Backtick */
  .tok-sc { color: #e6db74 } /* Literal.String.Char */
  .tok-sd { color: #e6db74 } /* Literal.String.Doc */
  .tok-se { color: #ae81ff } /* Literal.String.Escape */
  .tok-sh { color: #e6db74 } /* Literal.String.Heredoc */
  .tok-si { color: #e6db74 } /* Literal.String.Interpol */
  .tok-sr { color: #e6db74 } /* Literal.String.Regex */
  .tok-ss { color: #e6db74 } /* Literal.String.Symbol */
  .tok-sx { color: #e6db74 } /* Literal.String.Other */
  .tok-vc { color: #98fb98} /* Name.Variable.Class */
  .tok-vg { color: #98fb98} /* Name.Variable.Global */
  .tok-vi { color: #98fb98} /* Name.Variable.Instance */
  .tok-w { color: #ffffff} /* Text.Whitespace */
}
